/////////////////////////////////////////////////////////
//                      Palettes                       //
/////////////////////////////////////////////////////////
$white: #ffffff;
$black: #000000;

// light palette
$light-gray-0: #6b6b6b;
$light-gray-1: #a0a0a0;
$light-gray-2: #b0b0b0;
$light-gray-3: #b4b4b4;
$light-gray-4: #b8b8b8;
$light-gray-5: #bbbbbb;
$light-gray-6: #c0c0c0;
$light-gray-7: #c4c4c4;
$light-gray-8: #c8c8c8;
$light-gray-9: #cbcbcb;
$light-gray-10: #d0d0d0;
$light-gray-11: #d4d4d4;
$light-gray-12: #d8d8d8;
$light-gray-13: #dbdbdb;
$light-gray-14: #e0e0e0;
$light-gray-15: #e4e4e4;
$light-gray-16: #e8e8e8;
$light-gray-17: #ebebeb;
$light-gray-18: #f0f0f0;
$light-gray-19: #f4f4f4;
$light-gray-20: #f8f8f8;
$light-gray-21: #fbfbfb;

$apply-light: #d4dbe2;
$blue-light: #4784b9;
$semi-transparent-background-light: #c0c0c0e3;


// dark palette
$dark-gray-0: #cccccc;
$dark-gray-1: #040404;
$dark-gray-2: #080808;
$dark-gray-3: #0b0b0b; 
$dark-gray-4: #101010;
$dark-gray-5: #141414;
$dark-gray-6: #181818;
$dark-gray-7: #1b1b1b;
$dark-gray-8: #202020;
$dark-gray-9: #242424;
$dark-gray-10: #282828;
$dark-gray-11: #2b2b2b;
$dark-gray-12: #303030;
$dark-gray-13: #343434;
$dark-gray-14: #383838;
$dark-gray-15: #3b3b3b;
$dark-gray-16: #404040;
$dark-gray-17: #444444;
$dark-gray-18: #484848;
$dark-gray-19: #4b4b4b;
$dark-gray-20: #505050; 
$dark-gray-21: #545454;

$apply-dark: #193558;
$blue-dark: #4784b9;
$semi-transparent-background-dark: #101010e0;

// $light-semi-transparent-gray-8: #dadadab3;

// $light-blue-1: #d3def5;

// // dark palette
// $dark-gray-1: #7d7d7d;
// $dark-gray-2: #3c3c3c;
// $dark-gray-3: #252525;
// $dark-gray-4: #2b2b2b;
// $dark-gray-5: #1f1f1f;
// $dark-gray-6: #0e0e0e;
// $dark-gray-7: #020202;
// $dark-gray-8: #cccccc;
// $dark-semi-transparent-gray-8: #2525258c;

// $dark-blue-1: #182f58;

/////////////////////////////////////////////////////////
//             HTML elements customization             //
/////////////////////////////////////////////////////////
* {
  box-sizing:border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none repeat scroll 0 0 transparent;
  color: inherit;
  cursor: pointer;
  outline: 0;
  padding: 0;
  border: 0;
  border-radius: 10px;

  height: 50px;
  width: 100px;

  &:hover,
  &.selected{
    font-weight: 700;
  }
}

button:focus {
    outline: 0;
}

button>span {

}

.app-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .hidden {
    display: none !important;
  }

  .raised {

  }

  .sunk {

  }

  .apply {

  }

  .back {

  }

  .apply + .back {
    margin-left: 15px;
  }

  .separator {
    width: 100%;
  }

  .arrow {
    background-image: url('../assets/images/icons/arrow.svg');
    cursor: pointer;
    height: 10px;
    width: 10px;
    transition: linear .2s;

    &.arrow-up {
      transform: rotate(-90deg);
    }

    &.arrow-right {
      transform: rotate(0deg);
    }

    &.arrow-down {
      transform: rotate(90deg);
    }

    &.arrow-left {
      transform: rotate(180deg);
    }
  }

  .selectable {
    user-select: text;
  }

  .choose-language {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    .window {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      border-radius: 10px;

      .header,
      .body,
      .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .header {
        height: 70px;
      }

      .body {
        box-sizing: border-box;
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px 10px;
        border-radius: 10px;
        overflow-y: auto;
        min-height: 150px;
        padding: 10px;

        .language-button {
          margin: 0 10px 0 10px;
        }
    
      }

      .footer {
        height: 100px;
        justify-content: flex-end;
      }
    }
  }

  .window-container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    .window {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      border-radius: 10px;
      height: 95%;
      width: 97%;
      max-height: 95%;
      max-width: 97%;

      .header,
      .body,
      .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .header {
        position: relative;
        height: 70px;

        .title {
          font-size: 20px;
          font-weight: 600;
        }

        .close-window-button {
          position: absolute;
          right: 0;
          width: 40px;
          height: 40px;
          font-size: 15px;
        }
      }

      .body {
        box-sizing: border-box;
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px 10px;
        border-radius: 10px;
        overflow-y: auto;
        min-height: 150px;
        padding: 10px;
        
        .window-content {
          height: 100%;
          width: 100%;

          .slideshow-container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .slideshow {
              flex: 1;
              position: relative;
              height: 100%;
              width: 100%;
              min-height: 0;

              .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                z-index: 5;
              }

              .next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }

              .images-container {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                min-height: 0;

                .mySlides {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  width: 100%;
                  position: relative;

                  .numbertext {
                    padding: 10px 20px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    font-size: 15px;
                  }

                  .slideshow-image {
                    height: auto;
                    width: auto;
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 10px;
                  }
                }
              }
            }
            
          }
          
          .dots-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 20px;

            .dot {
              height: 12px;
              width: 12px;
              margin: 14px;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;

              &:hover, &.selected {
                box-shadow: none;
              }
            }
          }
        }

        .canvas {
          height: 100%;
          width: 100%;
          overflow: hidden;
          border-radius: 5px;
        }
      }

      .footer {
        height: 100px;
        justify-content: flex-end;
      }
    }
  }

  .main-section {
    height: 100%;
    display: flex;
    flex-direction: column;

    &.blurred {
      filter: blur(1px);
    }

    .header,
    .body,
    .footer {
      border-radius: 10px;
    }
    
    .header{
      margin: 8px 8px 5px 8px;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .main-menu {
        display: flex;
        flex-direction: row;
        
        .main-menu-side {
          display: flex;
          align-items: center;
  
          &.left {
            flex: 1;

            .first-level-nav {
              display: flex;
            }
          }
  
          &.right{
            justify-content: flex-end;

            .theme-button-container {
              margin: 0 15px;

              .theme-button {
                height: 30px;
                width: 60px;
                border-radius: 15px;
                // border-width: 1px;
                // border-style: solid;
              }
            }
            
          }
        }
      }
    }
  
    .body {
      display: flex;
      justify-content: center;
      margin: 5px 8px 8px 8px;
      flex: 1;
      overflow: hidden;

      .second-level-nav {
        display: flex;
        align-items: center;
        justify-content: center;

        .second-level-nav-item {
          margin: 0 20px;

          .second-level-nav-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            width: fit-content;
            padding: 20px;

            img{
              height: 125px;
              width: 125px;
              margin-bottom: 15px;
            }

            span{
              
            }
          }
        }
      }

      .body-panel {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .topic-container {
          min-width: 300px;
          width: 500px;
          height: 100%;
          padding: 0 0 0 0;
          display: flex;
          flex-direction: column;

          .topic-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            
            
            .topic-logo {
              height: 50px;
              width: 50px;
            }

            .topic-logo:hover {
              animation: full-rotation-y 3s both infinite;
            }
          }

          .topic-body {
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;
            min-height: 0;

            .topic-title {   
              margin: 0; 
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18px;
            }

            .topic-overview {
              flex: 1;
              width: 100%;
              text-align: center;
              font-size: 14px;
              line-height: 2.5;
              overflow-y: auto;
            }

            .profile-pic-container {
              height: 200px;
              width: 200px;
              margin: 10px 0 0 0;

              .profile-pic {
                height: 100%;
                width: 100%;
                border-radius: 50%;
              }
            }

            .info-container {
              flex: 1;
              display: flex;
              flex-direction: column;
              min-height: 0;
              width: 100%;
              font-size: 14px;
          

              .info-container-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 18px;
                margin: 10px 0;
              }

              .info-container-body {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                min-height: 0;            

                .anagraphic-element-container {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  padding: 10px 0;
                  
                  .anagraphic-icon {
                    height: 25px;
                    width: 25px;
                    margin-right: 20px;
                  }

                  .anagraphic-info-value {

                  }
                }
              }

              .info-container-footer {

              }
            }

            .video-presentation {
              padding: 10px;
            }
          }
          
          .topic-footer {
            display: flex;
            flex-direction: column;

            .topic-footer-navigation-container {
              display: flex;
              height: 90px;
              width: 100%;
              box-sizing: border-box;
              flex-direction: row;
              align-items: center;
              padding: 5px;

              .topic-navigation-bar {
                display: flex;
                flex: 1;
                height: 100%;
  
                ul {
                  height: 100%;
                  display: flex;
                  align-items: center;
  
                  li {
                    height: 70px;
                    width: 70px;
                    margin: 10px;
  
                    .topic-footer-button {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      width: inherit;
                      height: inherit;
  
                      .topic-footer-button-img {
                        height:50px;
                        width: 50px;
                      }
  
                      .topic-footer-button-text {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
  
              .arrow-container {
                width: 20px;
                height: 100%;

                .arrow-button {    
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }

        .topic-page-external {
          display: flex;
          flex: 1;
          overflow: hidden;
          min-width: 580px;

          .resizer {
            box-sizing: border-box;
            background-position: center center;
            background-repeat: no-repeat;
            transition: opacity .5s cubic-bezier(.09, .66, .19, .88);
            opacity: 0;

            &.vertical {
              cursor: ew-resize;
              background-image: url('../assets/images/icons/resizer-vertical.svg');
              height: 100%;
              width: 4px;
              margin: 0px 1px;
            }

            &.horizontal {
              cursor: ns-resize;
              background-image: url('../assets/images/icons/resizer-horizontal.svg');
              height: 4px;
              width: 100%;
              margin: 1px 0;
            }

            &:hover {
              opacity: 1;
            }
          }

          .topic-page-container {
            box-sizing: border-box;
            flex: 1;
            border-radius: 10px;
            padding: 5px;

            .topic-page {
              display: flex;
              box-sizing: border-box;
              flex: 1;
              height: 100%;
              border-radius: 10px;
              padding: 25px;
              flex-wrap: wrap;
              justify-content: space-around;
              overflow-y: auto;

              .all-contacts-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 100%;
  
                .contacts-group-container {
                  display: flex;
                  flex-direction: column;
                  padding: 20px;
      
                  .contact-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    width: auto;
                    height: 100px;
                    padding: 10px;
  
                    .contact-logo {
                      height: 50px;
                      width: 50px;
                      margin-right: 30px;
                    }
  
                    .contact-text{
  
                    }
                  }
                }
              }
  
              .card-certificate {
                height: 290px; 
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 12px;
                margin: 20px 10px;
                box-sizing: border-box;
                border-radius: 5px;
  
                &:hover {
                  font-weight: inherit;
                }
  
                &:hover .preview {
                  transition: transform .5s ease;
                  transform: scale(1.2);
                }
  
                &:not(:hover) .preview {
                  transition: transform .5s ease;
                  transform: scale(1);
                }
  
                .card-header {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 25px;
  
                  .card-title{
                    font-weight: 700;
                    font-size: 15px;
                  }
                }
  
                .card-body {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  flex: 1;
                  width: 100%;
                  padding: 10px 0 0 0;
  
                  .preview-container {
                    width: 270px;
                    height: 150px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    overflow: hidden;
  
                    .preview {
                      width: 100%;
                      height: 100%;
                    }
                  }
  
                  .info-container {
                    display: flex;
                    flex-direction: column;
                    line-height: 1.5;
                  }
                }
  
                .card-footer {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 0px;
                  padding-bottom: 0;
                }
              }
  
              .card-project {
                height: 400px;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 12px;
                margin: 20px 10px;
                box-sizing: border-box;
                border-radius: 5px;
  
                &:hover {
                  font-weight: inherit;
                }
  
                &:hover .preview {
                  transition: transform .5s ease;
                  transform: scale(1.2);
                }
  
                &:not(:hover) .preview {
                  transition: transform .5s ease;
                  transform: scale(1);
                }
  
                .card-header {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 25px;
  
                  .card-title {
                    font-weight: 700;
                    font-size: 15px;
                  }
                }
  
                .card-body {
                  width: 100%;
                  flex: 1;
                  padding: 10px 0;
                  display: flex;
                  flex-direction: column;
  
                  .preview-container {
                    width: 100%;
                    height: 150px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    overflow: hidden;
  
                    .preview {
                      width: 100%;
                      height: 100%;
                    }
                  }
  
                  .card-description {
                    flex: 1;
                    font-size: 14px;
                    white-space: pre-line;
                    line-height: 1.7;
                  }
  
                  .card-links-container {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 30px;
  
                    .card-link {
                      width: 40px;
                      height: 100%;
                    }
                  }
                }
  
                .card-footer {
                  display: flex;
                  flex-direction: column;
                  height: 25px;
                  width: 100%;
                  padding-bottom: 10px;
  
                  .card-footer-content-container {
                    flex: 1;
                    width: 100%;
                    display: flex;
                  }
                }
              }

              .all-languages-container {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                width: 100%;
                font-size: 14px;

                .single-language-container {

                  .single-language-padded-container {
                    padding: 20px;

                    .language-title {

                    }

                    .language-info-container {

                      .language-info-label {

                      }

                      .language-info-value {

                      }

                      .language-certificates-container {
                        display: flex; 
                        padding: 10px 0
                      }
                    }
                  }
                }
              }

              .all-travels-container,
              .all-trails-container {
                height: 100%; 
                width: 100%;

                .map-container {
                  position: relative;
                  height: 90%; 
                  width: 100%;
                
                  .map-style-buttons-container {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 1;
                    background-color: $semi-transparent-background-dark;

                    button {
                      height: 30px;
                      font-size: 13px;
                    }

                    .map-styles-toggler {
                      display: flex;
                      justify-content: space-around;
                    }

                    .map-style-buttons {

                      .map-style-list-item {

                        .map-style-button {
                        }
                      }
                    }
                  }

                  #map {
                    height: 100%; 
                    width: 100%; 
                    border-radius: 5px;

                    .stop-marker {
                      background-size: cover;
                      width: 20px;
                      height: 30px;
                      cursor: pointer;
                    }

                    .mapboxgl-popup {

                      .mapboxgl-popup-close-button {
                        height: 30px;
                        width: 30px;
                        font-size: 15px;
                      }

                      &.mapboxgl-popup-anchor-top {
                        .mapboxgl-popup-tip {
                        }
                      }

                      &.mapboxgl-popup-anchor-right {
                        .mapboxgl-popup-tip {
                        }
                      }

                      &.mapboxgl-popup-anchor-bottom {
                        .mapboxgl-popup-tip {
                        }
                      }

                      &.mapboxgl-popup-anchor-left {
                        .mapboxgl-popup-tip {
                        }
                      }

                      .mapboxgl-popup-content {

                        .marker-popup {
                          display: flex;
                          flex-direction: column;
                          align-items: center;
                          min-width: 200px;
                          font-size: 14px;

                          .marker-popup-header,
                          .marker-popup-body,
                          .marker-popup-footer {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                          }

                          .marker-popup-header {
                            font-weight: 600;
                            color: #4784b9;

                            .marker-popup-header-title {
                              margin: 5px 0;
                            }
                          }

                          .marker-popup-body {
                            flex: 1;

                            .go-to-details {
                              width: 100%;
                            }
                          }

                          .marker-popup-footer {
                            
                          }
                          
                        }
                      }
                    }
                  }
                }

                .travels-container,
                .trails-container {
                  display: grid;
                  gap: 30px;
                  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                  font-size: 14px;
                  padding: 30px 0;

                  .travel-container,
                  .trail-container {
                    border-radius: 5px;
                    padding: 20px;
                    background-color: #282828;

                    &.pulse {
                      animation: pulse-animation 1s infinite;
                    }

                    .travel-info-container,
                    .trail-info-container {
                      
                      .travel-header {
                        margin-bottom: 15px;
                      }

                      .travel-header,
                      .trail-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                          
                        .travel-title,
                        .trail-title {
                          flex: 1;
                          font-weight: 600;
                          box-sizing: border-box;
                          color: #4784b9;
                        }

                        .header-buttons-container {
                          margin-left: 10px;

                          .geolocalize-button {
                            display: flex;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            margin: 0 0 0 2px;
                          }

                          .camera-button {
                            display: flex;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            margin: 10px 3px 0 0;
                          }
                        }
                        
                      }

                      .travel-body {

                      }

                      .travel-footer {

                      }
                    }

                    .travel-stops {
                      box-sizing: border-box;
                      border-radius: 10px;

                      .stop-container {
                        .stop-header {
                          display: flex;
                          flex-direction: row;
                          align-items: center;
                          padding: 10px 0;

                          .stop-title {
                            flex: 1;
                          }

                          .camera-button {
                            display: flex;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            margin: 0 3px 0 0;
                          }
                        }
  
                        .stop-body {
  
                        }
  
                        .stop-footer {
  
                        }

                        .stop-gallery {
                          display: flex;
                          flex-direction: row;
                          padding: 20px 0;

                          .card-travel {
                            width: auto;
                            height: auto;
                            padding: 2px;

                            .card-header {

                            }

                            .card-body {
                              .preview-container {
                                .preview {
                                  height: 30px;
                                  width: 30px;
                                }
                              }

                              .info-container {

                              }
                            }

                            .card-footer {
                              
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
    .footer {
      margin: 0;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
}

.app-container {

  &.light {
    background-color: $light-gray-6;
    color: $light-gray-0;

    a {
      color: $blue-light;
    }

    .semi-transparent-background{
      background-color: $semi-transparent-background-light;
    }

    button {
      &.selected,
      &:hover {
        color: $black;
      }

      &.selected:not(.menu-button) {
        box-shadow: inset 3px 3px 6px $light-gray-1, 
                  inset -3px -3px 6px $light-gray-17;
        background-color: $light-gray-7 !important;
      }

      &:hover {
      }
    }

    .raised {
      box-shadow: 3px 3px 6px $light-gray-2, 
                  -3px -3px 6px $light-gray-17;

      &:hover {
        box-shadow: 3px 3px 3px $light-gray-1, 
                    -3px -3px 3px $light-gray-17;
      }
    }
  
    .sunk {
      box-shadow: inset 3px 3px 6px $light-gray-2, 
                  inset -3px -3px 6px $light-gray-17;
    }

    .apply {
      background-color: $apply-light;
    }

    .back {

    }

    .separator {
      border-top: 2px solid $light-gray-14;
      border-bottom: 2px solid $light-gray-5;
    }

    .choose-language {
      .window {
        background-color: $light-gray-10;
        border: 1px solid $light-gray-5;

        .header {
  
        }

        .body {
          background-color: $light-gray-8;

          .language-button {
            background-color: $light-gray-10;
          }
        }

        .footer {
        }
      }
    }

    .window-container {
  
      .window {
        background-color: $light-gray-10;
        border: 1px solid $light-gray-5;

        .header,
        .body,
        .footer {
        }
  
        .header {

          .certificate-title {
          }
  
          .close-window-button {
          }

        }
  
        .body {
          background-color: $light-gray-8;

          .window-content {

            .slideshow-container {
  
              .slideshow {
  
                .prev, .next {
  
                  &:hover {
                    background-color: $semi-transparent-background-light;
                  }
                }
  
                .next {
                }
  
                .images-container {
  
                  .mySlides {
  
                    .numbertext {
                      background-color: $light-gray-8;
                    }
  
                    .slideshow-image {
                    }
                  }
                }
              }
              
            }

            .dots-container {
  
              .dot {
                background-color: $light-gray-18;
  
                &:hover, &.selected {
                  background-color: $light-gray-0 !important;
                }
              }
            }
          }
        }
  
        .footer {
        }
      }
    }

    .main-section{
      .header,
      .body,
      .footer {
        background-color: $light-gray-10;
      }
  
      .header {
  
        .main-menu {
          
          .main-menu-side {
    
            &.left {

              .first-level-nav {

                .menu-item {
                  .menu-button {
                    border-radius: 0px;

                    &.first-level {
                      &:hover,
                      &.selected {
                        border-bottom: 3px solid $blue-light;
                      }
                    }
                  }
                }
              }
            }
    
            &.right {

              .theme-button-container {
                .theme-button {
                  padding: 2% 57% 2% 5%;
                  background-color: $light-gray-6;
                }
              }
            }
          }
        }
      }
    
      .body {
        .second-level-nav {
  
          .second-level-nav-item {

            .second-level-nav-button {
  
              img{
              }
  
              span{
                
              }
            }
          }
        }
  
        .body-panel {
  
          .topic-container {

            .topic-header {
            }
            .topic-body {

              .topic-title { 
                color: $blue-light;  
              }
  
              .topic-overview {
              }
  
              .profile-pic-container {
  
                .profile-pic {
  
                }
              }
              
              .info-container {
  
                .info-container-header {
                  color: $blue-light;
                }

                .info-container-body {

                  .anagraphic-element-container {
                    
                    .anagraphic-icon {

                    }

                    .anagraphic-info-value {

                    }
                  }
                }

                .info-container-footer {

                }
              }
            }

            .topic-footer {
  
              .topic-footer-navigation-container {

                .topic-navigation-bar {
    
                  ul {
    
                    li {
    
                      .topic-footer-button {
    
                        .topic-footer-button-img {
                        }
    
                        .topic-footer-button-text {
                        }
                      }
                    }
                  }
                }
    
                .arrow-container {
    
                  .arrow {
            
                    &.previous {
                    }
    
                    &.following {
                    }
                  }
                }
              }
            }
          }

          .topic-page-external {
            .resizer {

              &.vertical {
              }

              &.horizontal {
              }
            }

            .topic-page-container {
              background-color: $light-gray-6;

              .topic-page {

                .all-contacts-container {

                  .contacts-group-container {
    
                    .contact-container {
                      
                      .contact-logo {
    
                      }
    
                      .contact-text{
    
                      }
                    }
                  }
                }
  
                .card-certificate {
                  background-color: $light-gray-10;
    
                  &:hover {
                  }
    
                  &:hover .preview {
                  }
    
                  &:not(:hover) .preview {
                  }
    
                  .card-header {
    
                    .card-title {
                    }
                  }
    
                  .card-body {
    
                    .preview-container {
    
                      .preview {
                      }
                    }
    
                    .info-container {
                    }
                  }
    
                  .card-footer {
                  }
                }
  
                .card-project {
                  background-color: $light-gray-10;
    
                  &:hover {
                  }
    
                  &:hover .preview {
                  }
    
                  &:not(:hover) .preview {
                  }
    
                  .card-header {
    
                    .card-title {
                    }
                  }
    
                  .card-body {
  
                    .preview-container {
    
                      .preview {
                      }
                    }
    
                    .card-description {
                    }
  
                    .card-links-container {
                      .card-link {
                        
                      }
                    }
                  }
    
                  .card-footer {
  
                    .card-footer-content-container {
                    }
                  }
                }

                .all-languages-container {
  
                  .single-language-container {
  
                    .single-language-padded-container {
  
                      .language-title {

                      }
  
                      .language-info-container {
  
                        .language-info-label {
                        }
  
                        .language-info-value {
                        }
  
                        .language-certificates-container {
                        }
                      }
                    }
                  }
                }

                .all-travels-container,
                .all-trails-container {

                  .map-container {
                  
                    .map-style-buttons-container {
                      background-color: $semi-transparent-background-light;

                      button {
                      }

                      .map-styles-toggler {
                      }

                      .map-style-buttons {

                        .map-style-list-item {

                          .map-style-button {
                          }
                        }
                      }
                    }

                    #map {

                      .stop-marker {
                      }

                      .mapboxgl-popup {

                        .mapboxgl-popup-close-button {
                          height: 30px;
                          width: 30px;
                          font-size: 15px;
                        }
  
                        &.mapboxgl-popup-anchor-top {
                          .mapboxgl-popup-tip {
                            border-bottom-color: $semi-transparent-background-dark;
                          }
                        }
  
                        &.mapboxgl-popup-anchor-right {
                          .mapboxgl-popup-tip {
                            border-left-color: $semi-transparent-background-dark;
                          }
                        }
  
                        &.mapboxgl-popup-anchor-bottom {
                          .mapboxgl-popup-tip {
                            border-top-color: $semi-transparent-background-dark;
                          }
                        }
  
                        &.mapboxgl-popup-anchor-left {
                          .mapboxgl-popup-tip {
                          }
                        }

                        .mapboxgl-popup-content {
                          background-color: $semi-transparent-background-light;

                          .marker-popup {

                            .marker-popup-header,
                            .marker-popup-body,
                            .marker-popup-footer {
                            }

                            .marker-popup-header {
                              color: $blue-light;

                              .marker-popup-header-title {
                              }
                            }

                            .marker-popup-body {
                            }

                            .marker-popup-footer {
                              
                            }
                            
                          }
                        }
                      }
                    }
                  }

                  .travels-container,
                  .trails-container {

                    .travel-container,
                    .trail-container {
                      background-color: $light-gray-10;

                      &.pulse {
                      }

                      .travel-info-container,
                      .trail-info-container {
                        
                        .travel-header {
                        }

                        .travel-header,
                        .trail-header {
                            
                          .travel-title,
                          .trail-title {
                            color: $blue-light;
                          }

                          .header-buttons-container {

                            .geolocalize-button {
                            }

                            .camera-button {
                            }
                          }
                          
                        }

                        .travel-body {

                        }

                        .travel-footer {

                        }
                      }

                      .travel-stops {

                        .stop-container {
                          .stop-header {

                            .stop-title {
                            }

                            .camera-button {
                            }
                          }
    
                          .stop-body {
    
                          }
    
                          .stop-footer {
    
                          }

                          .stop-gallery {

                            .card-travel {

                              .card-header {

                              }

                              .card-body {
                                .preview-container {
                                  .preview {
                                  }
                                }

                                .info-container {

                                }
                              }

                              .card-footer {
                                
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .footer {
    
      }
    }

    @keyframes pulse-animation {
      0% {
        box-shadow: 0 0 0 0px transparent;
      }
      50% {
        box-shadow: 0 0 4px 2px $blue-light;
      }
      100% {
        box-shadow: 0 0 0 0px transparent;
      }
    }
  }


  &.dark {
    background-color: $dark-gray-6;
    color: $dark-gray-0;
    
    a {
      color: $blue-dark;
    }

    .semi-transparent-background {
      background-color: $semi-transparent-background-dark;
    }

    button {
      &.selected,
      &:hover {
        color: $white;
      }

      &.selected:not(.menu-button) {
        box-shadow: inset 3px 3px 6px $dark-gray-1, 
                  inset -3px -3px 6px $dark-gray-17;
        background-color: $dark-gray-7 !important;
      }

      &:hover {
      }
    }

    .raised {
      box-shadow: 3px 3px 6px $dark-gray-2, 
                  -3px -3px 6px $dark-gray-17;

      &:hover {
        box-shadow: 3px 3px 3px $dark-gray-1, 
                  -3px -3px 3px $dark-gray-17;
      }
    }
  
    .sunk {
      box-shadow: inset 3px 3px 6px $dark-gray-2, 
                  inset -3px -3px 6px $dark-gray-17;
    }

    .apply {
      background-color: $apply-dark;
    }

    .back {

    }

    .separator {
      border-top: 2px solid $dark-gray-14;
      border-bottom: 2px solid $dark-gray-5;
    }

    .choose-language {
      .window {
        background-color: $dark-gray-10;
        border: 1px solid $dark-gray-5;

        .header {
  
        }

        .body {
          background-color: $dark-gray-8;

          .language-button {
            background-color: $dark-gray-10;
          }
        }

        .footer {
        }
      }
    }

    .window-container {
  
      .window {
        background-color: $dark-gray-10;
        border: 1px solid $dark-gray-5;
  
        .header,
        .body,
        .footer {
        }
  
        .header {

          .certificate-title {
          }
  
          .close-window-button {
          }

        }
  
        .body {
          background-color: $dark-gray-8;

          .window-content {

            .slideshow-container {
  
              .slideshow {
  
                .prev, .next {
  
                  &:hover {
                    background-color: $semi-transparent-background-dark;
                  }
                }
  
                .next {
                }
  
                .images-container {
  
                  .mySlides {
  
                    .numbertext {
                      background-color: $dark-gray-8;
                    }
  
                    .slideshow-image {
                    }
                  }
                }
              }
              
            }

            .dots-container {
  
              .dot {
                background-color: $dark-gray-18;
  
                &:hover, &.selected {
                  background-color: $dark-gray-0 !important;
                }
              }
            }
          }
        }
  
        .footer {
        }
      }
    }

    .main-section{
      .header,
      .body,
      .footer {
        background-color: $dark-gray-10;
      }
  
      .header {
  
        .main-menu {
          
          .main-menu-side {
    
            &.left {

              .first-level-nav {
                .menu-item {
                  .menu-button {
                    border-radius: 0px;

                    &.first-level {
                      &:hover,
                      &.selected {
                        border-bottom: 3px solid $blue-dark;
                      }
                    }
                  }
                }
              }
            }
    
            &.right {

              .theme-button-container {
                .theme-button {
                  padding: 2% 8% 2% 59%;
                  background-color: $dark-gray-6;
                }
              }
            }
          }
        }
      }
    
      .body {

        .second-level-nav {
  
          .second-level-nav-item {

            .second-level-nav-button {
  
              img {
              }
  
              span {
                
              }
            }
          }
        }
  
        .body-panel {
  
          .topic-container {
            .topic-header {
            }

            .topic-body {

              .topic-title {  
                color: $blue-dark;
              }
  
              .topic-overview {
              }
  
              .profile-pic-container {
  
                .profile-pic {
  
                }
              }
  
              .info-container {

                .info-container-header {
                  color: $blue-dark;
                }

                .info-container-body {

                  .anagraphic-element-container {
                    
                    .anagraphic-icon {

                    }

                    .anagraphic-info-value {

                    }
                  }
                }

                .info-container-footer {

                }
              }
            }
  
            .topic-footer {
  
              .topic-footer-navigation-container {

                .topic-navigation-bar {
    
                  ul {
    
                    li {
    
                      .topic-footer-button {
    
                        .topic-footer-button-img {
                        }
    
                        .topic-footer-button-text {
                        }
                      }
                    }
                  }
                }
    
                .arrow-container {
    
                  .arrow {
            
                    &.previous {
                    }
    
                    &.following {
                    }
                  }
                }
              }
            }
          }
  
          .topic-page-external {
            .resizer {
              &.vertical {
              }

              &.horizontal {
              }
            }

            .topic-page-container {
              background-color: $dark-gray-6;

              .topic-page{
                .all-contacts-container {

                  .contacts-group-container {
    
                    .contact-container {
                      
                      .contact-logo {
    
                      }
    
                      .contact-text{
    
                      }
                    }
                  }
                }
  
                .card-certificate {
                  background-color: $dark-gray-10;
    
                  &:hover {
                  }
    
                  &:hover .preview {
                  }
    
                  &:not(:hover) .preview {
                  }
    
                  .card-header {
    
                    .card-title {
                    }
                  }
    
                  .card-body {
    
                    .preview-container {
    
                      .preview {
                      }
                    }
    
                    .info-container {
                    }
                  }
    
                  .card-footer {
                  }
                }
  
                .card-project {
                  background-color: $dark-gray-10;
    
                  &:hover {
                  }
    
                  &:hover .preview {
                  }
    
                  &:not(:hover) .preview {
                  }
    
                  .card-header {
    
                    .card-title {
                    }
                  }
    
                  .card-body {
    
                    .preview-container {
    
                      .preview {
                      }
                    }
    
                    .card-description {
                    }
  
                    .card-links-container {
                      .card-link {
                        
                      }
                    }
                  }
    
                  .card-footer {
  
                    .card-footer-content-container {
                    }
                  }
                }

                .all-languages-container {
  
                  .single-language-container {
  
                    .single-language-padded-container {
  
                      .language-title {

                      }
  
                      .language-info-container {
  
                        .language-info-label {
                        }
  
                        .language-info-value {
                        }
  
                        .language-certificates-container {
                        }
                      }
                    }
                  }
                }

                .all-travels-container,
                .all-trails-container {

                  .map-container {
                  
                    .map-style-buttons-container {
                      background-color: $semi-transparent-background-dark;

                      button {
                      }

                      .map-styles-toggler {
                      }

                      .map-style-buttons {

                        .map-style-list-item {

                          .map-style-button {
                          }
                        }
                      }
                    }

                    #map {

                      .stop-marker {
                      }

                      .mapboxgl-popup {

                        .mapboxgl-popup-close-button {
                        }
  
                        &.mapboxgl-popup-anchor-top {
                          .mapboxgl-popup-tip {
                            border-bottom-color: $semi-transparent-background-dark;
                          }
                        }
  
                        &.mapboxgl-popup-anchor-right {
                          .mapboxgl-popup-tip {
                            border-left-color: $semi-transparent-background-dark;
                          }
                        }
  
                        &.mapboxgl-popup-anchor-bottom {
                          .mapboxgl-popup-tip {
                            border-top-color: $semi-transparent-background-dark;
                          }
                        }
  
                        &.mapboxgl-popup-anchor-left {
                          .mapboxgl-popup-tip {
                            border-right-color: $semi-transparent-background-dark;
                          }
                        }

                        .mapboxgl-popup-content {
                          background-color: $semi-transparent-background-dark;

                          .marker-popup {

                            .marker-popup-header,
                            .marker-popup-body,
                            .marker-popup-footer {
                            }

                            .marker-popup-header {
                              color: $blue-dark;

                              .marker-popup-header-title {
                              }
                            }

                            .marker-popup-body {
                            }

                            .marker-popup-footer {
                              
                            }
                            
                          }
                        }
                      }
                    }
                  }

                  .travels-container,
                  .trails-container {

                    .travel-container,
                    .trail-container {
                      background-color: $dark-gray-10;

                      &.pulse {
                      }

                      .travel-info-container,
                      .trail-info-container {
                        
                        .travel-header {
                        }

                        .travel-header,
                        .trail-header {
                            
                          .travel-title,
                          .trail-title {
                            color: $blue-dark;
                          }

                          .header-buttons-container {

                            .geolocalize-button {
                            }

                            .camera-button {
                            }
                          }
                          
                        }

                        .travel-body {

                        }

                        .travel-footer {

                        }
                      }

                      .travel-stops {

                        .stop-container {
                          .stop-header {

                            .stop-title {
                            }

                            .camera-button {
                            }
                          }
    
                          .stop-body {
    
                          }
    
                          .stop-footer {
    
                          }

                          .stop-gallery {

                            .card-travel {

                              .card-header {

                              }

                              .card-body {
                                .preview-container {
                                  .preview {
                                  }
                                }

                                .info-container {

                                }
                              }

                              .card-footer {
                                
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .footer {
      }
    }

    @keyframes pulse-animation {
      0% {
        box-shadow: 0 0 0 0px transparent;
      }
      50% {
        box-shadow: 0 0 4px 2px $blue-dark;
      }
      100% {
        box-shadow: 0 0 0 0px transparent;
      }
    }
  }

  @keyframes full-rotation-y {
    0% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
}